<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check City Exist</button>


<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>
<h1>This item displayled from single id</h1>
<app-content-card [contentItem]="items"></app-content-card>


<section>
<h1>Empty</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilter: ''" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Urban</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilter: 'Urban'" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Rural</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilter: 'Rural'" [contentItem]="contentItem"></app-content-card>
</section>