<div class="content-card" [ngClass]="{
    'urban': contentItem.type === 'Urban',
    'rural': contentItem.type === 'Rural',
    'unspecified': !contentItem.type
  }">
  
  <img [src]="contentItem.imgURL" *ngIf="contentItem.imgURL; else defaultImage" alt="{{ contentItem.title }}" class="content-card-image" height="200px" width="150px">
  <ng-template #defaultImage>
    <img src="https://thumbs.dreamstime.com/b/lettering-phrase-my-favorite-city-white-background-isolated-152804930.jpg" alt="this is the default image" height="200px" width="250px">
  </ng-template>
          <h2>{{ contentItem.title }}</h2>
          <p><strong>Description:</strong> {{ contentItem.description }}</p>
          <p><strong>Creator:</strong> {{ contentItem.creator }}</p>
          <p *ngIf="contentItem.type" appHoverAffect [effect]="'underline'"><strong>Type: </strong>{{ contentItem.type }}</p>
      <p *ngFor="let tag of contentItem.tags" appHoverAffect><strong>Tags:</strong>{{ tag }}</p>
      </div>