
.message-heading {
    color: brown;
  }
  
  .clear {
    background-color:aqua;
    color: black;
   
  }
  
  .clear:hover {
    background-color: whitesmoke;  
  }
  
  
  .message {
    background-color:cyan;
   
  }
  